*{
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #43766C;
    --secundary-color: #F8FAE5;
    --tertiary-color: #B19470;
    --quaternary-color: #76453B;
    --typography-title: 'Arial Narrow', Arial, sans-serif;
    --typography-p: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imglogo{
    height: 100px;
    width: 100px;
}

header nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secundary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
}

section {
    padding: 30px;
    min-height: 100vh;
}

#banner {
    background-color: var(--secundary-color);
    display: flex;
    align-items: center;
}

#banner h1 {
    font-size: 80px;
    font-family: var(--typography-title);
}

#banner p {
    width: 70%;
    font-size: 25px;
    font-family: var(--typography-p);
}

#courses {
    text-align: center;
    padding: 30px;
    background-color: var(--quaternary-color);
}

#courses .cont-grid-cours {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

#courses .card {
    background-color: var(--secundary-color);
    padding: 50px;
    border-radius: 13px;
    transition: 0.4s transform;
}

#courses .card:hover {
    transform: scale(1.04);
}

#courses h3 {
    font-family: var(--typography-title);
    font-size: 40px;
    margin: 30px;
}

#courses p {
    font-family: var(--typography-p);
    font-size: 20px;
}

#product {
    text-align: center;
}

#product h2 {
    font-family: var(--typography-title);
    font-size: 80px;
    margin: 30px;
}

#product .cont-grid-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#product .card-product {
    padding: 20px;
    border: 1px solid rgb(206, 214, 214) ;
}
    
#product .card-product img {
    width: 50%;
    height: 50%;
}

#product h3 {
    font-size: 40px;
    font-family: var(--typography-title);
}

#product p {
    font-size: 30px;
    font-family: var(--typography-p);
}

#product .card-product button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
